In [1]:
import requests
import lxml.html as lh
import pandas as pd
import numpy as np
import datetime 
import time

In [4]:
#from matplotlib import pyplot as plt

In [24]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score
#from sklearn.impute import SimpleImputer

In [5]:
#!git
!git commit -m "sprawdzam czy da sie zrobic commita w notebooku"

On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
	modified:   boxoffice.ipynb

no changes added to commit

In [ ]:
!git commit

# 0. pozyskanie danych

In [35]:
movies =[]
url=['https://www.boxofficemojo.com/yearly/chart/?page=1&view=releasedate&view2=domestic&yr=2018&p=.htm',
     'https://www.boxofficemojo.com/yearly/chart/?page=2&view=releasedate&view2=domestic&yr=2018&p=.htm'
    ]

for i in range(2): 
    page = requests.get(url[i])
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    tr_elements = tr_elements[9:109]
    mov = []
    for xd in range(len(tr_elements)):
        for a in tr_elements[xd]:      
            try:
                mov.append(int(a.text_content()))
            except:
                mov.append(a.text_content())
                pass
            try:
                url_mov = a.getchildren()[0].getchildren()[0].getchildren()[0].attrib['href'] #XD
                page2 = requests.get('https://www.boxofficemojo.com'+url_mov)
                doc2 = lh.fromstring(page2.content)
                tr_elements2 = doc2.xpath('//tr')
                mov.append(tr_elements2[7].getchildren()[0].getchildren()[0].text_content()) #distributor full name
                mov.append(tr_elements2[7].getchildren()[1].getchildren()[0].text_content()) #release date
                mov.append(tr_elements2[8].getchildren()[0].getchildren()[0].text_content()) # genre
                mov.append(tr_elements2[8].getchildren()[1].getchildren()[0].text_content()) #runtime
                mov.append(tr_elements2[9].getchildren()[0].getchildren()[0].text_content()) #rating
                mov.append(tr_elements2[9].getchildren()[1].getchildren()[0].text_content()) #budget
                if(tr_elements2[15].getchildren()[0].text_content().replace(u'\xa0', u'').replace('+','') == 'Foreign:'):
                    mov.append(tr_elements2[15].getchildren()[1].text_content().replace(u'\xa0', u'')) #rest world
                else:
                    mov.append('no dist')
            except: 
                pass #XD2
        movies.append(mov)
        mov = []

In [36]:
headers =['#','name','distributor_full_name','release_date','genre','runtime','rating','budget','rest_world','studio','total_gross','theaters_total','opening','theaters_opening','open_date','close_date',]
df = pd.DataFrame(movies,columns = headers)
df.to_csv('movies.csv')

# 1. czyszczenie + imdb, cinemascore

In [18]:
df = pd.read_csv('movies.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,#,name,distributor_full_name,release_date,genre,runtime,rating,budget,rest_world,studio,total_gross,theaters_total,opening,theaters_opening,open_date,close_date
0,0,0,1,Black Panther,Buena Vista,"February 16, 2018",Action / Adventure,2 hrs. 20 min.,PG-13,NaN,"$646,853,595",BV,"$700,059,566","4,084","$202,003,951","4,020",2/16,8/9
1,1,1,2,Avengers: Infinity War,Buena Vista,"April 27, 2018",Action / Adventure,2 hrs. 36 min.,PG-13,NaN,"$1,369,544,272",BV,"$678,815,482","4,474","$257,698,183","4,474",4/27,9/13
2,2,2,3,Incredibles 2,Buena Vista,"June 15, 2018",Animation,1 hrs. 58 min.,PG,NaN,"$634,223,615",BV,"$608,581,744","4,410","$182,687,905","4,410",6/15,12/13
3,3,3,4,Jurassic World: Fallen Kingdom,Universal,"June 22, 2018",Action / Adventure,2 hrs. 8 min.,PG-13,$170 million,"$891,764,701",Uni.,"$417,719,760","4,485","$148,024,610","4,475",6/22,10/4
4,4,4,5,Aquaman,Warner Bros.,"December 21, 2018",Action / Adventure,2 hrs. 19 min.,PG-13,NaN,"$812,700,000",WB,"$335,061,807","4,184","$67,873,522","4,125",12/21,4/4

In [1]:
#df['total_gross'].isnull().values.any()
# #usuwanie $ itp
# df['total_gross'].apply(lambda x: str(x))
# df['opening'].apply(lambda x: str(x))
# df['total_gross'] = df['total_gross'].replace('\.','', regex=True).replace(',','', regex=True).str[1:].astype(float)
# df['opening'] = df['opening'].replace('\.','', regex=True).replace(',','', regex=True).str[1:].astype(float)
# #df['opening'].fillna(df['opening'].mean(),inplace=True)
# df = df.sample(frac=1)
# # 'tasowanie' wierszy
#df.to_csv('movies.csv')
# df.head()

In [8]:
def str2int_w_na(col):
    df[col] = df[col].fillna(-1)
    df[col] = df[col].astype(int)
    df[col] = df[col].astype(str)
    df[col] = df[col].replace('-1', np.nan)

In [ ]:
df = df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

# len(df['studio'].unique()) #57
# len(df['genre'].unique()) #34
# len(df['rating'].unique()) #5

#runtime to int
df['runtime'] = df['runtime'].replace('hrs.','', regex=True).replace('min.','', regex=True).apply(lambda x: int(x.split()[0])*60 + int(x.split()[1]))

#budget to float (in milions)
df['budget'] = df['budget'].replace(' ','', regex=True).replace('million','', regex=True).str[1:]
df.loc[132,'budget'] =1
df['budget'] = df['budget'].astype(float)

#theters to int
df['theaters_total'] = df['theaters_total'].replace(',','', regex=True).astype(int)
df['theaters_opening'] = df['theaters_total'].replace(',','', regex=True).astype(int)

#rest_wrorld to int
df['rest_world'] = df['rest_world'].replace('no dist',float('nan'), regex=True)
df['rest_world'] = df['rest_world'].replace('\.','', regex=True).replace(',','', regex=True).str[1:]
str2int_w_na('rest_world')

#total_gross, opening to int
df['total_gross'] = df['total_gross'].replace('\.','', regex=True).replace(',','', regex=True).str[1:]
df['total_gross'] = df['total_gross'].astype(int)

df['opening'] = df['opening'].replace('\.','', regex=True).replace(',','', regex=True).str[1:]
str2int_w_na('opening')

#days in theaters
for x in range(len(df)):
    try:
        d1 = datetime.date(2018, int(df['open_date'][x].split("/")[0]), int(df['open_date'][x].split("/")[1]) )
        d2 = datetime.date(2018, int(df['close_date'][x].split("/")[0]), int(df['close_date'][x].split("/")[1]) )
        days = d2 - d1
        if days<datetime.timedelta(0):
            df.loc[x,'days_in_theaters']= (datetime.timedelta(365) + (d2 - d1)).days
        else:
            df.loc[x,'days_in_theaters']= (d2 - d1).days
    except:
        pass #przepraszam ;_;

#df.head()

In [90]:
(datetime.timedelta(365) + (d2 - d1)).days

86

In [ ]:
#imdb oceny
from imdb import IMDb

ia = IMDb()

In [ ]:
import time

start = time.time()

for id in range(len(df)):
    try:
        movies = ia.search_movie(df.loc[id,'name'])
        movie = ia.get_movie(movies[0].movieID)
        df.loc[id,'imdb_rating']= movie['rating']
        directors=[]
        for person in movie['director']:    
            directors.append(person['name'])
        df.loc[id,'directors'] = ' & '.join(directors)
    except:
        df.loc[id,'directors'] = '???'
        
end = time.time()
print(end - start)
# 14 minut !!!

df.head()

In [ ]:
#df[['name','directors','imdb_rating']]
#len(df['directors'].unique()) #190

In [ ]:
#cinemascore
import cinemascore

start = time.time()

for id in range(len(df)):
    try:
        x = cinemascore.search(df.loc[id,'name'])
        df.loc[id,'cinemascore_name'] = list(x)[0]
        df.loc[id,'cinemascore_rating'] = x[list(x)[0]]
    except:
        df.loc[id,'cinemascore_rating'] = np.nan
        pass
    
end = time.time()
print(str((end - start)/60)+" minut") # aprox. 5 min

In [3]:
#pip install rotten_tomatoes_client
from rotten_tomatoes_client import RottenTomatoesClient

In [13]:
start = time.time()

for id in range(len(df)):
    try:
        result = RottenTomatoesClient.search(term=df.loc[id,'name'], limit=5)

        for i in range(len(result['movies'])):
            if(df.loc[id,'name'] == result['movies'][i]['name']) and (result['movies'][i]['year']==2018):
                df.loc[id,'RT_name'] = result['movies'][i]['name']
                df.loc[id,'RT_rating'] = result['movies'][i]['meterScore']
                break
    except:
        df.loc[id,'RT_name'] = np.nan
        df.loc[id,'RT_rating'] = np.nan
        pass
    
end = time.time()
print(str((end - start)/60)+" minut") # aprox. 5 min

3.1618944803873696 minut

In [68]:
# result = RottenTomatoesClient.search(term=df.loc[0,'name'], limit=5)
# result['movies'][3]['year']

2018

In [45]:
# result = RottenTomatoesClient.search('black panther', limit=5)
# range(len(result['movies']))

In [22]:
df[['name','RT_name','RT_rating']].tail()

                            name             RT_name  RT_rating
195  Mary and the Witch's Flower                 NaN        NaN
196             Hearts Beat Loud    Hearts Beat Loud       91.0
197                         1991                 NaN        NaN
198              Papillon (2018)                 NaN        NaN
199           At Eternity's Gate  At Eternity's Gate       80.0

In [95]:
df.to_csv('movies_clean.csv',index=False)

In [ ]:
#df['budget'].unique()
#df['budget'].astype(float)
#df[df['budget']=='$170 million']
#df['budget'].isnull().sum() #104
#f[df['budget'].notnull()]
#df['budget'] = df['budget'].replace(' ','', regex=True).replace('million','', regex=True).str[1:]
#type(df.loc[36,'rest_world'])
#type(df['total_gross'][0])
#type(df['rest_world'][0])

In [ ]:
# critics reviews

# -key actors
# -director
# -season of year
# -other movies in cinema at that time
# -„hype index”
# china

In [15]:
df = pd.read_csv('movies_clean.csv')
df.head()

,#,name,distributor_full_name,release_date,genre,runtime,rating,budget,rest_world,studio,...,is_Documentary,is_Romance,studio_uni,studio_WB,studio_Fox,studio_Sony,studio_STX,studio_LGF,studio_BV,studio_Focus
0,1,Black Panther,Buena Vista,"February 16, 2018",Action / Adventure,140,PG-13,NaN,6.468536e+08,BV,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,Avengers: Infinity War,Buena Vista,"April 27, 2018",Action / Adventure,156,PG-13,NaN,1.369544e+09,BV,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,Incredibles 2,Buena Vista,"June 15, 2018",Animation,118,PG,NaN,6.342236e+08,BV,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,Jurassic World: Fallen Kingdom,Universal,"June 22, 2018",Action / Adventure,128,PG-13,170.0,8.917647e+08,Uni.,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Aquaman,Warner Bros.,"December 21, 2018",Action / Adventure,139,PG-13,NaN,8.127000e+08,WB,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
#df.groupby('genre').nunique().sort_values('#',ascending =bool(0))

In [7]:
for i in range(len(df)):
    if(df.loc[i,'genre'].find('Action') != -1):
        df.loc[i,'is_Action'] = 1
    else:
        df.loc[i,'is_Action'] = 0
        
    if(df.loc[i,'genre'].find('Animation') != -1):
        df.loc[i,'is_Animation'] = 1
    else:
        df.loc[i,'is_Animation'] = 0
        
    if(df.loc[i,'genre'].find('Drama') != -1):
        df.loc[i,'is_Drama'] = 1
    else:
        df.loc[i,'is_Drama'] = 0   
        
    if(df.loc[i,'genre'].find('Horror') != -1):
        df.loc[i,'is_Horror'] = 1
    else:
        df.loc[i,'is_Horror'] = 0
        
    if(df.loc[i,'genre'].find('Comedy') != -1):
        df.loc[i,'is_Comedy'] = 1
    else:
        df.loc[i,'is_Comedy'] = 0
        
    if(df.loc[i,'genre'].find('Adventure') != -1):
        df.loc[i,'is_Adventure'] = 1
    else:
        df.loc[i,'is_Adventure'] = 0
        
    if(df.loc[i,'genre'].find('Music') != -1):
        df.loc[i,'is_Music'] = 1
    else:
        df.loc[i,'is_Music'] = 0
        
    if(df.loc[i,'genre'].find('Sci-Fi') != -1):
        df.loc[i,'is_Sci-Fi'] = 1
    else:
        df.loc[i,'is_Sci-Fi'] = 0
        
    if(df.loc[i,'genre'].find('Comedy') != -1):
        df.loc[i,'is_Comedy'] = 1
    else:
        df.loc[i,'is_Comedy'] = 0
        
    if(df.loc[i,'genre'].find('Thriller') != -1):
        df.loc[i,'is_Thriller'] = 1
    else:
        df.loc[i,'is_Thriller'] = 0
        
    if(df.loc[i,'genre'].find('Documentary') != -1):
        df.loc[i,'is_Documentary'] = 1
    else:
        df.loc[i,'is_Documentary'] = 0
        
    if(df.loc[i,'genre'].find('Roman') != -1):
        df.loc[i,'is_Romance'] = 1    
    else:
        df.loc[i,'is_Romance'] = 0

In [8]:
df[['name','genre', 'is_Action', 'is_Animation',
       'is_Drama', 'is_Music', 'is_Horror', 'is_Romance', 'is_Sci-Fi',
       'is_Thriller', 'is_Comedy', 'is_Adventure', 'is_Documentary']]
df.columns

Index(['#', 'name', 'distributor_full_name', 'release_date', 'genre',
       'runtime', 'rating', 'budget', 'rest_world', 'studio', 'total_gross',
       'theaters_total', 'opening', 'theaters_opening', 'open_date',
       'close_date', 'days_in_theaters', 'imdb_rating', 'directors',
       'cinemascore_rating', 'cinemascore_name', 'RT_name', 'RT_rating',
       'is_Action', 'is_Animation', 'is_Drama', 'is_Horror', 'is_Comedy',
       'is_Adventure', 'is_Music', 'is_Sci-Fi', 'is_Thriller',
       'is_Documentary', 'is_Romance'],
      dtype='object')

In [9]:
# studio
df.groupby('studio').nunique().sort_values('#',ascending =bool(0))

for i in range(len(df)):
    try:
        if(df.loc[i,'studio'].find('Uni.') != -1):
            df.loc[i,'studio_uni'] = 1
        else:
            df.loc[i,'studio_uni'] = 0

        if(df.loc[i,'studio'].find('WB') != -1):
            df.loc[i,'studio_WB'] = 1
        else:
            df.loc[i,'studio_WB'] = 0

        if(df.loc[i,'studio'].find('Fox') != -1):
            df.loc[i,'studio_Fox'] = 1
        else:
            df.loc[i,'studio_Fox'] = 0

        if(df.loc[i,'studio'].find('Sony') != -1):
            df.loc[i,'studio_Sony'] = 1
        else:
            df.loc[i,'studio_Sony'] = 0

        if(df.loc[i,'studio'].find('STX') != -1):
            df.loc[i,'studio_STX'] = 1
        else:
            df.loc[i,'studio_STX'] = 0

        if(df.loc[i,'studio'].find('LGF') != -1):
            df.loc[i,'studio_LGF'] = 1
        else:
            df.loc[i,'studio_LGF'] = 0

        if(df.loc[i,'studio'].find('BV') != -1):
            df.loc[i,'studio_BV'] = 1
        else:
            df.loc[i,'studio_BV'] = 0

        if(df.loc[i,'studio'].find('Focus') != -1):
            df.loc[i,'studio_Focus'] = 1
        else:
            df.loc[i,'studio_Focus'] = 0
    except:
        pass

In [4]:
df[['name','studio','studio_uni', 'studio_WB', 'studio_Fox', 'studio_Sony', 'studio_STX',
       'studio_LGF', 'studio_BV', 'studio_Focus']].head()

,name,studio,studio_uni,studio_WB,studio_Fox,studio_Sony,studio_STX,studio_LGF,studio_BV,studio_Focus
0,Black Panther,BV,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Avengers: Infinity War,BV,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Incredibles 2,BV,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,Jurassic World: Fallen Kingdom,Uni.,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aquaman,WB,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df[['name','rating']]

                                                  name   rating
0                                        Black Panther    PG-13
1                               Avengers: Infinity War    PG-13
2                                        Incredibles 2       PG
3                       Jurassic World: Fallen Kingdom    PG-13
4                                              Aquaman    PG-13
5                                           Deadpool 2        R
6                         Dr. Seuss' The Grinch (2018)       PG
7                        Mission: Impossible - Fallout    PG-13
8                                 Ant-Man and the Wasp    PG-13
9                                    Bohemian Rhapsody    PG-13
10                               A Star is Born (2018)        R
11                             Solo: A Star Wars Story    PG-13
12                                        Venom (2018)    PG-13
13                           Ralph Breaks the Internet       PG
14                   Spider-Man: Into The Spider-Verse       PG
15                                       A Quiet Place    PG-13
16                                   Crazy Rich Asians    PG-13
17                                Mary Poppins Returns       PG
18               Hotel Transylvania 3: Summer Vacation       PG
19         Fantastic Beasts: The Crimes of Grindelwald    PG-13
20                                    Halloween (2018)        R
21                                             The Meg    PG-13
22                                           Ocean's 8    PG-13
23                                    Ready Player One    PG-13
24                                           Bumblebee    PG-13
25                         Mamma Mia! Here We Go Again    PG-13
26                                             The Nun        R
27                                            Creed II    PG-13
28                                        Peter Rabbit       PG
29                                            The Mule        R
..                                                 ...      ...
170                      Sgt. Stubby: An American Hero       PG
171                               Amazing Grace (2019)        G
172                                        Ben is Back        R
173  Gosnell: The Trial of America's Biggest Serial...    PG-13
174                                        Indivisible    PG-13
175               The Oscar Nominated Short Films 2018  Unrated
176                                       Disobedience        R
177                                     First Reformed        R
178                                      Juliet, Naked        R
179                                      Bad Samaritan        R
180                                  7 Days in Entebbe    PG-13
181                                        Shoplifters        R
182            2001: A Space Odyssey (2018 re-release)        G
183                               The Sisters Brothers        R
184                                      Thoroughbreds        R
185                                            Whitney        R
186              Rachel Hollis Presents: Made for More  Unrated
187                                   American Animals        R
188                          God Bless the Broken Road       PG
189                               La Boda de Valentina        R
190                                    Bharat Ane Nenu  Unrated
191                             Qué León (What A Lion)    PG-13
192                         You Were Never Really Here        R
193                                           Suspiria        R
194                                          The Rider        R
195                        Mary and the Witch's Flower       PG
196                                   Hearts Beat Loud    PG-13
197                                               1991  Unrated
198                                    Papillon (2018)        R
199                                 At Eternity's Gate    PG-13

[200 rows x 2 columns]

In [5]:
df['rating'].unique()

array(['PG-13', 'PG', 'R', 'Unrated', 'G'], dtype=object)

In [16]:
#rating
## cinemascore ##
#df['rating'].factorize()

df = pd.concat([df,pd.get_dummies(df['rating'],prefix='rating')],axis=1)
df = pd.concat([df,pd.get_dummies(df['cinemascore_rating'],prefix='CS_rating')],axis=1)

In [17]:
df.columns

Index(['#', 'name', 'distributor_full_name', 'release_date', 'genre',
       'runtime', 'rating', 'budget', 'rest_world', 'studio', 'total_gross',
       'theaters_total', 'opening', 'theaters_opening', 'open_date',
       'close_date', 'days_in_theaters', 'imdb_rating', 'directors',
       'cinemascore_rating', 'cinemascore_name', 'RT_name', 'RT_rating',
       'is_Action', 'is_Animation', 'is_Drama', 'is_Horror', 'is_Comedy',
       'is_Adventure', 'is_Music', 'is_Sci-Fi', 'is_Thriller',
       'is_Documentary', 'is_Romance', 'studio_uni', 'studio_WB', 'studio_Fox',
       'studio_Sony', 'studio_STX', 'studio_LGF', 'studio_BV', 'studio_Focus',
       'rating_G', 'rating_PG', 'rating_PG-13', 'rating_R', 'rating_Unrated',
       'CS_rating_A', 'CS_rating_A+', 'CS_rating_A-', 'CS_rating_B',
       'CS_rating_B+', 'CS_rating_B-', 'CS_rating_C', 'CS_rating_C+',
       'CS_rating_C-', 'CS_rating_D+', 'CS_rating_D-'],
      dtype='object')

In [21]:
df.to_csv('movies_clean.csv',index=False)

In [25]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(df)
!dir

 Volume in drive E is KARTA
 Volume Serial Number is A414-97CE

 Directory of E:\Dysk Google\Zapalsky's\projekty\boxoffice

30.05.2019  17:57    <DIR>          .
30.05.2019  17:57    <DIR>          ..
15.04.2019  13:30    <DIR>          .git
15.04.2019  13:30    <DIR>          .ipynb_checkpoints
30.05.2019  17:57            69˙141 boxoffice.ipynb
24.05.2019  18:21            32˙395 movies.csv
30.05.2019  17:57            57˙978 movies_clean.csv
11.04.2019  00:19                23 README.md
               4 File(s)        159˙537 bytes
               4 Dir(s)  20˙102˙639˙616 bytes free

# 2. model

In [3]:
df = pd.read_csv('movies_clean.csv')
df.head()

,#,name,distributor_full_name,release_date,genre,runtime,rating,budget,rest_world,studio,...,is_Documentary,is_Romance,studio_uni,studio_WB,studio_Fox,studio_Sony,studio_STX,studio_LGF,studio_BV,studio_Focus
0,1,Black Panther,Buena Vista,"February 16, 2018",Action / Adventure,140,PG-13,NaN,6.468536e+08,BV,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,Avengers: Infinity War,Buena Vista,"April 27, 2018",Action / Adventure,156,PG-13,NaN,1.369544e+09,BV,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,Incredibles 2,Buena Vista,"June 15, 2018",Animation,118,PG,NaN,6.342236e+08,BV,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,Jurassic World: Fallen Kingdom,Universal,"June 22, 2018",Action / Adventure,128,PG-13,170.0,8.917647e+08,Uni.,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Aquaman,Warner Bros.,"December 21, 2018",Action / Adventure,139,PG-13,NaN,8.127000e+08,WB,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
# del df['budget']
# df.columns

Index(['#', 'name', 'distributor_full_name', 'release_date', 'genre',
       'runtime', 'rating', 'rest_world', 'studio', 'total_gross',
       'theaters_total', 'opening', 'theaters_opening', 'open_date',
       'close_date', 'days_in_theaters', 'imdb_rating', 'directors',
       'cinemascore_rating', 'cinemascore_name'],
      dtype='object')

In [6]:
#brakujace wartosci - wykres
#df.isnull().sum().to_frame(name='count').sort_values(by='count', ascending=False)['count'].plot(kind='bar', figsize=(20,10))

dfna=df.dropna(axis=0)
len(dfna) #55

48

In [129]:
# feats = ['opening']
# X = df[ feats ].values
# y = df['total_gross'].values

# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3) 

# X_train.shape, X_test.shape
#
#df['opening'].notnull().sum() <------- 2
#df['opening'].fillna(df['opening'].mean(),inplace=True) # nie powinieniem tak robic wiem ale to tylko do testu, bo dla dwoch wiereszy jest NA
#

target = 'total_gross'
#features = [c for c in dfna.columns if c != 'total_gross']
features = ['runtime', 'rest_world','theaters_total', 'opening', 'theaters_opening','days_in_theaters', 'imdb_rating']

train,test = train_test_split(dfna, test_size=0.33)

model = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=None)
model.fit(train[features],train[target])
print(model.score(test[features],test[target]))

0.8936429740635896