In [135]:
import requests
import lxml.html as lh
import pandas as pd

In [136]:
movies =[]
url=['https://www.boxofficemojo.com/yearly/chart/?page=1&view=releasedate&view2=domestic&yr=2018&p=.htm',
     'https://www.boxofficemojo.com/yearly/chart/?page=2&view=releasedate&view2=domestic&yr=2018&p=.htm'
    ]

for i in range(2): 
    page = requests.get(url[i])
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    tr_elements = tr_elements[9:109]
    mov = []
    for xd in range(len(tr_elements)):
        for a in tr_elements[xd]:
            mov.append(a.text_content())
            try:
                mov.append(a.getchildren()[0].getchildren()[0].getchildren()[0].attrib['href']) #XD
            except: 
                pass #XD2
        movies.append(mov)
        mov = []

In [140]:
headers =['#','name','href','studio','total_gross','theaters_total','opening','theaters_opening','open_date','close_date',]
df = pd.DataFrame(movies,columns = headers)
df.head()

,#,name,href,studio,total_gross,theaters_total,opening,theaters_opening,open_date,close_date
0,1,Black Panther,/movies/?id=marvel2017b.htm,BV,"$700,059,566","4,084","$202,003,951","4,020",2/16,8/9
1,2,Avengers: Infinity War,/movies/?id=marvel0518.htm,BV,"$678,815,482","4,474","$257,698,183","4,474",4/27,9/13
2,3,Incredibles 2,/movies/?id=theincredibles2.htm,BV,"$608,581,744","4,410","$182,687,905","4,410",6/15,12/13
3,4,Jurassic World: Fallen Kingdom,/movies/?id=jurassicworldsequel.htm,Uni.,"$417,719,760","4,485","$148,024,610","4,475",6/22,10/4
4,5,Aquaman,/movies/?id=dcfilm0617.htm,WB,"$334,059,737","4,184","$67,873,522","4,125",12/21,-

In [139]:
tr_elements[2].getchildren()[1].getchildren()[0].getchildren()[0].getchildren()[0].attrib['href'] #XD

'/movies/?id=superfly.htm'