In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
movies =[]
url=['https://www.boxofficemojo.com/yearly/chart/?page=1&view=releasedate&view2=domestic&yr=2018&p=.htm',
     'https://www.boxofficemojo.com/yearly/chart/?page=2&view=releasedate&view2=domestic&yr=2018&p=.htm'
    ]

for i in range(2): 
    page = requests.get(url[i])
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    tr_elements = tr_elements[9:109]
    mov = []
    for xd in range(len(tr_elements)):
        for a in tr_elements[xd]:
            mov.append(a.text_content())
        movies.append(mov)
        mov = []

In [3]:
headers =['#','name','studio','total_gross','theaters_total','opening','theaters_opening','open_date','close_date',]
df = pd.DataFrame(movies,columns = headers)
df.head(10)

,#,name,studio,total_gross,theaters_total,opening,theaters_opening,open_date,close_date
0,1,Black Panther,BV,"$700,059,566","4,084","$202,003,951","4,020",2/16,8/9
1,2,Avengers: Infinity War,BV,"$678,815,482","4,474","$257,698,183","4,474",4/27,9/13
2,3,Incredibles 2,BV,"$608,581,744","4,410","$182,687,905","4,410",6/15,12/13
3,4,Jurassic World: Fallen Kingdom,Uni.,"$417,719,760","4,485","$148,024,610","4,475",6/22,10/4
4,5,Aquaman,WB,"$334,059,737","4,184","$67,873,522","4,125",12/21,-
5,6,Deadpool 2,Fox,"$318,491,426","4,349","$125,507,153","4,349",5/18,10/18
6,7,Dr. Seuss' The Grinch (2018),Uni.,"$270,620,950","4,141","$67,572,855","4,141",11/9,2/14
7,8,Mission: Impossible - Fallout,Par.,"$220,159,104","4,395","$61,236,534","4,386",7/27,10/18
8,9,Ant-Man and the Wasp,BV,"$216,648,740","4,206","$75,812,205","4,206",7/6,11/1
9,10,Bohemian Rhapsody,Fox,"$215,283,984","4,000","$51,061,119","4,000",11/2,-